<!--<p>This is the partial for view 1.</p>-->
<form ng-submit="search()">
<input type="text" name="input" ng-model="input" placeholder="search..."/>
<button >Search</button>
</form>

<div ng-repeat="result in results">
    <h2>{{ result.title }}</h2>
    <h3>{{ result.subject }}</h3>
    <p>{{ result.description }}</p>
    <b>{{ result.identifier }}</b>
    <p>
        <!--<a href="{{result.url}}">get XML</a>-->
        <button ng-click="download(result.identifier)">Show files</button>
    </p>

    <table>
    <tr ng-repeat="file in result.files">
            <td><a download target="_blank" href="{{file.url}}">{{file._name}}</a></td>
            <td><span>[{{file.size}}]</span></td>
            <td><span>{{file.sha1}}</span></td>
            <td><button ng-hide="{{file.hidedownload}}" ng-click="getOts(result.identifier,file.sha1,file._name)">Download Ots</button></td>
            <td>&nbsp;<a ng-hide="{{file.hideinfo}}" target="_blank" href="https://opentimestamps.org/draft/info.html?ots={{file.ots}}">INFO</td>
            <td><span>{{file.status}}</span></td>
            <td><span>{{file.hideinfo}}</span></td>
    </tr>

    </table>

    <hr/>
</div>
